<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="" />

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://bkcooper.github.io/theme/stylesheet/style.min.css">

  <% if page.load_mathjax %>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
              inlineMath: [ ['$', '$'], ["\\(", "\\)"] ]
          },
          TeX: {
              Macros: {
		  given: "{\\: \\big| \\:}"
              },
              equationNumbers: {autoNumber: "AMS" }
          },
      });
    </script>
    <script async src="https://bkcooper.github.io/theme/minimalmathjax/MathJax.js?config=TeX-AMS_CHTML"></script>
  <% endif %>

  <link rel="stylesheet" type="text/css" href="https://bkcooper.github.io/theme/pygments/solarized-light.min.css">
  <link rel="stylesheet" type="text/css" href="https://bkcooper.github.io/theme/font-awesome/css/font-awesome.min.css">


    <link href="https://bkcooper.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Ben Cooper Atom">




    <meta name="author" content="Ben Cooper" />
    <meta name="description" content="" />
<meta property="og:site_name" content="Ben Cooper"/>
<meta property="og:type" content="blog"/>
<meta property="og:title" content="Ben Cooper"/>
<meta property="og:description" content=""/>
<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="https://bkcooper.github.io"/>

  <title>Ben Cooper &ndash; Diversions</title>
</head>
<body>
  <aside>
    <div>
      <a href="https://bkcooper.github.io">
        <img src="https://bkcooper.github.io/images/bkc_photo_crop.jpg" alt="Ben Cooper" title="Ben Cooper">
      </a>
      <h1><a href="https://bkcooper.github.io">Ben Cooper</a></h1>


      <nav>
        <ul class="list">
          <li><a href="https://bkcooper.github.io/pages/research.html#research">Research</a></li>
          <li><a href="https://bkcooper.github.io/pages/diversions.html#diversions">Diversions </a></li>

          <li><a href="https://scholar.google.com/citations?user=foQowpoAAAAJ&hl=en" target="_blank">Google Scholar</a></li>
        </ul>
      </nav>

      <ul class="social">
      </ul>
    </div>
  </aside>
  <main>

<article class="single">
  <header>
    
    <h1 id="diversions">Diversions</h1>
  </header>
  <div>
<h2>Moiré <span class="caps">SIM</span>&nbsp;demo</h2>
<p>I put <a href="https://github.com/bkcooper/moire-sim-demo">this</a> together to
capture some of the flavor of structured illumination microscopy, an
influential microscopy technique that doubles the resolving power of a
microscope by patterning the light hitting the sample. Andrew York
presented this at the 2019 <a href="https://www.esric.org"><span class="caps">ESRIC</span></a> summer
school. Using a striped &#8220;illumination&#8221; mask printed on an overlay
transparency, you can get a surprisingly recognizable image out of
what looks like a mostly featureless array of stripes. These make fun
handouts.  The <a href="https://github.com/bkcooper/moire-sim-demo/blob/master/sim-demo.ipynb">Jupyter
notebook</a>
in the repository explains what&#8217;s going on and offers tips on building
your&nbsp;own.</p>
<p><img alt="These stripes are good camouflage for ..." src="https://bkcooper.github.io/images/small_stripe_pattern.png" style="max-width: 45%"> <img alt="... a horse. Naturally." src="https://bkcooper.github.io/images/stripe_product.png" style="max-width: 45%"></p>
<h2>Inspiration</h2>
<p>Bill Thurston, one of the great mathematicians of the 20th century, had
<a href="https://mathoverflow.net/questions/43690/whats-a-mathematician-to-do/44213#44213">this</a> beautiful response to a question about how &#8220;mere mortals&#8221; can
contribute to mathematics. It is the best justification for science I&nbsp;know.</p>  </div>
</article>

    <footer>
<p>    Powered by <a href="http://getpelican.com" target="_blank">Pelican</a> - Theme adapted from <a href="https://github.com/alexandrevicenzi/flex" target="_blank">Flex</a> by <a href="http://alexandrevicenzi.com" target="_blank">Alexandre Vicenzi</a>
</p>    </footer>
  </main>


<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Blog",
  "name": " Ben Cooper ",
  "url" : "https://bkcooper.github.io",
  "image": "",
  "description": ""
}
</script>
</body>
</html>