{% extends "base.html" %}

{% block mathjax %}
  {% if page.load_mathjax %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
              inlineMath: [ ['$', '$'], ["\\(", "\\)"] ]
          },
          TeX: {
              Macros: {
		  given: "{\\: \\big| \\:}"
              },
              equationNumbers: {autoNumber: "AMS" }
          },
      });
    </script>
    <script async src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/minimalmathjax/MathJax.js?config=TeX-AMS_CHTML"></script>
  {% endif %}
{% endblock %}

{% block title %} &ndash; {{ page.title }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    {% import 'partial/translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    <h1 id="{{ page.slug }}">{{ page.title }}</h1>
  </header>
  <div>
    {% block before_content %}{% endblock %}
    {% block page_content %}{{ page.content }}{% endblock %}
    {% block after_content %}{% endblock %}
  </div>
</article>
{% endblock %}
